
	
	html,body {
		background-image: url("img/fundo.jpg");
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		background-size: cover;
		background-position: center center;
		height: 100%;
		-webkit-transform: translateZ(0);
		transform:translateZ(0) ;
		will-change: transform;
	}

	.container {
		height: 100%;
		align-content: center;
	}

	.card {
		height: 300px;
		margin-top: 150px;

		width: 400px;
		background-color: rgba(0, 0, 0, 0.5) !important;
	}


	.card-header h3 {
		color: yellow;
	}



	.input-group-prepend span {
		width: 50px;
		background-color: #FFC312;
		color: black;
		border: 0 !important;
	}




	.login_btn {
		color: black;
		background-color: #FFC312;
		width: 100px;
	}

	.login_btn:hover {
		color: black;
		background-color: white;
	}

	h1 {
		position: relative;
		top: 90px;
		border: 2px solid whitesmoke;
		box-shadow: 2px 2px 5px 2px yellow;
		font-size: 100px;
		color: yellow;
		font-family: 'Numans', sans-serif;
		background-color: black;
		opacity: 55%;

	}
	@media(max-width: 768px){
		h1{
			font-size: 75px;
			top:40px;        
		}
	
	}
	@media(max-width: 576px){
		h1{
			font-size: 60px;        
		}
	}