:root {
    --mainPink: #ef7998;
    --mainYellow: rgb(249, 228, 148);
    --mainWhite: #fff;
    --mainBlack: #000;
    --yellowTrans: rgba(249, 228, 148, 0.5);
    --mainGrey: rgb(238, 238, 238);
  }


html,body{
    height: 100%;
    width: 100%;
    font-family: Poppins, sans-serif;
    color: #222;
}
.navbar{
    padding: .8rem;
}
.navbar-nav li{
    padding-right: 20px ;    
}
.nav-link {
    font-size: 1.1em !important;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-caption{
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    
}
.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 20px #000;
    border: 1px solid white;
    border-width: 5px;
    box-shadow: 0px 0px 5px 2px #ccc;
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
}
.jumbotron{
    padding: 5rem;
}

.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.fa-code{
    color: #e54d26;
}
.fa-bold{
    color:#563d7c
}
.fa-css3{
    color:#2163af
}
.fa-code, .fa-bold, .fa-css3{
    font-size: 4em;
    margin: 1rem;
}
.social a{
    font-size: 4.5em;
    padding: 2rem;

    
}
.fa-facebook{
    color: #3b5998;
    
}
.fa-twitter{
    color: #00aced;
}
.fa-instagram{
    color: #517fa4;
}
.fa-youtube{
    color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover{
    color:#d5d5d5;
}
footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 5rem;
    padding: 2rem;
    margin-top: 4rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 50%;
    margin-top: .5rem;
    margin-bottom: 1rem;
}
footer a{
    color: #d5d5d5;
}
.cart-info__icon {
    color: var(--mainBlack);
    cursor: pointer;
  }
  
  .cart-info {
    border: 0.1rem solid var(--mainBlack);
    color: var(--mainBlack);
    border-radius: 0.25rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
  }
  .cart-info:hover {
    background: var(--mainPink);
    border-color: var(--mainPink);
    color: var(--mainWhite);
  }
  .cart-info:hover .cart-info__icon {
    color: var(--mainWhite);
  }
  .max-height {
    min-height: calc(100vh - 76px);
    background: linear-gradient(var(--yellowTrans), var(--yellowTrans)),
      url("img/headerBcg.jpeg") center/cover fixed no-repeat;
    position: relative;
  }
  .banner {
    color: var(--mainBlack);
    margin-top: -4rem;
  }
  .banner-title {
    color: var(--mainPink);
    font-size: 4rem;
  }
  .banner-link {
    font-size: 1.5rem;
    color: var(--mainBlack);
    border: 0.2rem solid var(--mainBlack);
  }
  .banner-link:hover {
    background: var(--mainBlack);
    color: var(--mainPink);
  }
  
  .cart {
    position: absolute;
    min-height: 10rem;
    background: var(--mainWhite);
    top: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.5);
    width: 0;
    overflow: hidden;
  }
  .show-cart {
    width: 18rem;
    padding: 2rem 1.5rem;
    transform: rotateY(-360deg);
  }
  .cart-item {
    transition: all 2s ease-in-out;
  }
  .cart-item-remove {
    color: var(--mainPink);
    transition: all 1s ease-in-out;
  }
  .cart-item-remove:hover {
    transform: scale(1.1);
    color: var(--mainBlack);
  }
  #cart-item-price {
    font-size: 0.8rem;
  }
  
  /* butoes carrinho */
  .btn-pink {
    color: var(--mainPink) !important;
    border-color: var(--mainPink) !important;
  }
  .btn-black {
    color: var(--mainBlack) !important;
    border-color: var(--mainBlack) !important;
  }
  .btn-black:hover {
    color: var(--mainPink) !important;
    background: var(--mainBlack) !important;
  }
  .btn-pink:hover {
    background: var(--mainPink) !important;
    color: var(--mainBlack) !important;
  }  
  .store {
    background: var(--mainGrey);
  }
  .img-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .store-img {
    transition: all 1s ease-in-out;
  }
  .img-container:hover .store-img {
    transform: scale(1.2);
  }
  .store-item-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.75rem;
    background: var(--mainYellow);
    border-top-left-radius: 1rem;
    transition: all 1s ease-in-out;
    transform: translate(100%, 100%);
  }
  .img-container:hover .store-item-icon {
    transform: translate(0, 0);
  }
  .store-item-icon:hover {
    color: var(--mainWhite);
  }
  .store-item-value {
    color: --mainYellow;
  }
@media(max-width: 768px){
    .carousel-caption{
        top: 45%;        
    }
    .carousel-caption h1{
        font-size: 350%;
    }
    .carousel-caption h3{
        font-size: 140%;
        font-weight: 400;
    }
}
@media(max-width: 576px){
    .carousel-caption{
        top: 40%;        
    }
    .carousel-caption h1{
        font-size: 250%;
    }
    .carousel-caption h3{
        font-size: 110%;
        
    }
}